@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 96.1%;
        --background-light: 0 0% 100%;
        --foreground: 0 0% 0%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 0%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 0%;

        --primary: 0 0% 6.7%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 40%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 86.7%;
        --muted-foreground: 0 0% 60%;
        --accent: 0 0% 89.8%;
        --accent-foreground: 0 0% 0%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 89.8%;
        --input: 0 0% 96.1%;
        --ring: 0 0% 29%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        @apply border-border !cursor-none;
    }
    body {
        @apply bg-background text-foreground font-roboto-flex;
    }
}

@layer components {
    .grid {
        @apply gap-[25px];
    }

    .markdown-text ul {
        @apply pl-5 mt-2 list-disc;
    }
}
